.a2s-comm {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.a2s-comm .blue {
    background-color: #2969ad;
}

.a2s-comm .red {
    background-color: #ad2929;
}

.a2s-comm .green {
  background-color: #6fad29;
}

.a2s-comm button {
    border: 2px #000 solid;
    border-radius: 10%;
    font-size: 11px;
    color: #ffffff;
    cursor: pointer;
    width: 64px;
    height: 44px;
    padding: 2px;
}

.a2s-comm ul {
    position: absolute;
    list-style: none;
    bottom: 44px;
    right: 0;
    margin: 0;
    padding: 0;
}

.a2s-comm li {
    margin: 12px 0;
}
