<div class="a2s-comm-report" [class.ready]="ready()">
  <form [formGroup]="form" (ngSubmit)="sendReport()">
    <h3>Raportowanie obecności</h3>
    <div>
      <label for="report-date">Data obecności</label>
      <div class="value">
        <input type="text" id="report-date" formControlName="reportDate" readonly>
      </div>
    </div>

    <div>
      <label for="first-name">Imię</label>
      <div class="value">
        <input type="text" id="first-name" formControlName="firstName">
      </div>
    </div>

    <div>
      <label for="last-name">Nazwisko</label>
      <div class="value">
        <input type="text" id="last-name" formControlName="lastName">
      </div>
    </div>

    <div>
      <label for="email">Email</label>
      <div class="value">
        <input type="text" id="email" formControlName="email">
      </div>
    </div>

    <div>
      <label for="image">Zrzut ekranu</label>
      <div class="value">
        <img [src]="form.get('image').value" id="image">
      </div>
    </div>

    <div>
      <label>Oświadczenie</label>
      @if (form.invalid) {
        <div class="value orange">
          Wypełnij powyższy formularz by wygenerować oświadczenie.
        </div>
      } @else {
        <div class="value">{{ statement() }}</div>
      }
    </div>

    <div class="actions">
      <button type="button" (click)="closed.emit()">Anuluj</button>
      <button type="submit" [disabled]="sending()">
        {{ sending() ? 'Trwa wysyłanie...' : 'Wyślij' }}
      </button>
    </div>
  </form>
</div>
