<div class="a2s-comm">
  <ul [hidden]="!menuOpened()">
    @for (link of links; track link) {
      <li>
        <button type="button" [class]="link.css" (click)="open(link.url)">
          {{ link.name }}
        </button>
      </li>
    }
    <li>
      <button type="button" class="green" (click)="toggleReport(true)">
        Obecność
      </button>
    </li>
  </ul>
  <button type="button" class="blue" (click)="toggleMenu()">
    A2S Comm
  </button>
</div>

@defer (when reportOpened()) {
  @if (reportOpened()) {
    <a2s-comm-report (closed)="toggleReport(false)"/>
  }
}
