.a2s-comm-report:not(.ready) {
  visibility: hidden;
}

.a2s-comm-report {
  position: fixed;
  top: 0;
  left: 0;
  background: #d4d4d4;
  color: #000000;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.a2s-comm-report form {
  max-width: 700px;
  margin: 0 auto;
}

.a2s-comm-report form > div {
  margin: 6px;
  display: flex;
  align-items: flex-start;
}

.a2s-comm-report div.value {
  flex: 3;
}

.a2s-comm-report div.orange {
  color: #2969ad;
}

.a2s-comm-report img {
  max-width: 100%;
}

.a2s-comm-report label {
  display: inline-block;
  font-weight: bold;
  flex: 1;
}

.a2s-comm-report .actions {
  justify-content: center;
  padding-top: 30px;
  gap: 10px;
}
